
.webhook-status {
    display: inline-block;
    width: auto;
    /*width: 1em;*/
    /*height: 1em;*/
    margin-top: .1em;
    margin-right: .5em;
    margin-left: .5em;
    padding: 0 .5em;
    border-radius: 4px;

    font-size: 90%;
    font-weight: normal;
    text-indent: 0;

    white-space: nowrap;
}

.webhook-status.err {
    background-color: #FFC5C4;
    color: #C00;
}

.webhook-status.not-found {
    background-color: gray;
    color: lightgray;
}

.webhook-status.no-info {
    background-color: darkgray;
    color: lightgray;
}

.webhook-status.good {
    background-color: lightgreen;
    /*color: lightgray;*/
}
.webhook-status.pending {
    background-color: darkorange;
    /*color: lightgray;*/
}

#projectVcsRoots .webHook.bold {
    font-weight: bold;
}


form .recursive {
    vertical-align: middle;
}

.spinner {
    float: right;
}

#installWebhook table.runnerFormTable {
    margin-top: 0.5em;
}

#installWebhook table.runnerFormTable th {
    padding-left: 0;
    width: 20%;
}

#repository {
    width: 40em;
}

#webhookMessage {
    display: none;
}
